body {background-color:#D3CEDF; }
hr {
 border-style: dotted none none;
 border-width:5px;
 border-color: #748DA6;
 height: 0px;
 width: 5%;
}
h1 {
  color: green;
}
h2 {
  color: green;
}
img:hover {
  background-color: gold;
}
/*class*/
.owner {
  height: 10pc;
  background-color: #9CB4CC;
}
.first{
  height: 25pc;
  background-color: brown;
}
.second{
  height: 25pc;
  background-color: grey;
}
/*id*/
#heading{
  color: white;

}
